@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

#root {
  background-color: black;
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}